$pink:  #FF3493;
$purple: rgba(230, 46, 123, 0.1);
$white: #fff;
$blue: #3361FF;
$navy: #dae3f5;
$red : #ce1b11;
$yellow: #FFCB33;
$darkPurple : #8833FF;
$red2 : #E62E2E;
$green: #29CC39;
$grey: #4D5E80;
$greyblue: #334466;
$grey1: #62708C;
$grey2: #ADB8CC; 
$grey3: #7C8AA6;
$grey4: #7D8FB3;
$grey5: #7A8599;